/* Header Rules */
header{
    height: 100px;
    background-color: white;
}

.ms_logo_md{
    height: 40%;
}

#ms_search{
    width: 80%;
    height: 50px;
    padding: 5px;
    background-color: #e5e5e5;
    border: none;
    border-radius: 7px;
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px;
    padding-left: 40px;
}

#ms_search:focus{
    outline: none;
    border: 1px solid gray;
}

#ms_search::placeholder{
    opacity: 0.7;
}

#ms_bell{
    color: #ff8f00;
    font-size: 20px;
}

/* Nav Rules */
nav{
    height: 100%;
    padding-top: 100px;
    background-color: #051e34;
}

.left-menu{
    position: fixed;
    top:0px;
    bottom: 0px;
    left: 0px;
}

.left-menu span{
    font-size: 18px;
}

.left-menu i{
    font-size: 22px;
}

/* Main Rules */
main{
    min-height: 100vh;
    margin-top: 100px;
    /* DEBUG */
    background-color: blueviolet;
}

.ms_section1{
    /* DEBUG */
    height: 250px;
    width: 100%;
    background-color: aqua;
}

.ms_section2{
    /* DEBUG */
    height: 1500px;
    width: 100%;
    background-color: coral;
}

    .ms_classes{
        /* DEBUG */
        height: 70%;
        background-color: royalblue;
    }

    .ms_faq{
        /* DEBUG */
        height: 30%;
        background-color: crimson;
    }

    .ms_todo{
        /* DEBUG */
        height: 30%;
        background-color: royalblue;
    }

    .ms_graphic{
        /* DEBUG */
        height: 70%;
        background-color: crimson;
    }

main .row{
    /* DEBUG */
    height: 100%;
    width: 100%;
    background-color: chartreuse;
}

main [class*="col-"]{
    /* DEBUG */
    background-color: darkgoldenrod;
    border: 2px solid black;
}
